*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background-color: #152029;
}


main{
    display: flex;
    width: 100%;
    margin-top: 15vh;
    align-items: center;
    justify-content: space-evenly;
}
.diagram{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diagram h2{
    color: #FF7314;
}
.diagram img{
    width: 500px;
    border-radius: 10px;
}

.container-cadastro{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #010305;
    border-radius: 20px;

}
.grid-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.modal-cadastro{
    width: 600px;
}
.modal-cadastro h1{
    margin-bottom: 20px;
    color: #14FFF1;
}
.modal-cadastro h3{
    margin-top: 20px;
    color: #FF7314;
}


.modal-cadastro input{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}

#btn-cadastro{
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #14FFF1;
    border-radius: 5px;
}

#btn-cadastro:hover{
    background-color: #FF7314;
    cursor: pointer;
}