*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background-color: #191D24;
}

main{
    display: flex;
    width: 100%;
    margin-top: 5vh;
    justify-content: space-evenly;
}
.diagram{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diagram h2{
    color: #FF7314;
}
.diagram img{
    width: 500px;
    border-radius: 10px;
}

.container-cadastro{
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #010305;
    border-radius: 20px;
}
.container-cadastro p{
    width: 200px;
    color: red;
    font-size: 10px;
}

.modal-cadastro-grid{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container-cadastro h1{
    margin-bottom: 10px;
    color: #FF7314;
}
.container-cadastro h3{
    margin-top: 10px;
    color: #14FFF1;
    font-weight: normal;
}

.container-cadastro input{
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
}
.container-cadastro select{
    width: 150px;
    height: 30px;
    font: 20px;
}

#btn-cadastro{
    width: 120px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #14FFF1;
    border-radius: 5px;
}

#btn-cadastro:hover{
    background-color: #FF7314;
    cursor: pointer;
    transition: 0.7s;
}