.section_forum{
  width: 100%;
  border: 1px solid #FF7314;
}
.section_forum h1{
  color: #00FFFF;
  font-size: 40px;
}

.section_forum label{
  color: #FF7314;
}


#form_postagem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form_postagem label{
  font-size: 20px;
  text-align: center;
}

#form_postagem input{
  width: 200px;
  height: 30px;
  font-size: 16px;
  text-align: center;
}

#form_postagem textarea{
  width: 500px;
  font-size: 16px;
  resize: none;
}

#form_postagem button{
  width: 100px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  background-color: #14FFF1;
  border-radius: 5px;
}
#form_postagem button:hover{
  background-color: #FF7314;
  cursor: pointer;
  transition: 0.7s;
}

#feed_container .publicacao{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF7314;
  border-bottom:  10px solid #FF7314;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.publicacao-descricao{
  width: 300px;
  word-wrap: break-word;
  margin-bottom: 20px;

}

.destaque{
  color: #00FFFF;
  font-weight: bold;
}

.linha{
  width: 100px;
}

.div-buttons button{
  width: 55px;
  height: 25px;
  font-size: 13px;
  background-color: #14FFF1;
  border-radius: 5px;
}
.div-buttons button:hover{
  background-color: #FF7314;
  cursor: pointer;
  transition: 0.7s;
}